<footer>
    <p class="copyright">&copy;Copyright <span class="year"></span> Kayonza Modern Secondary School </p>
</footer>
<script>
    var year =  document.querySelector(".year")
    var date = new Date()

    const nowYear = date.getFullYear()

    year.innerHTML = nowYear
</script>