<div class="container">
    <!-- Nav -->
    <nav class="main-nav">
        <a class="logo" href="/"><h1>KMSS</h1></a>

        <ul class="right-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/learning">Learning</a></li>
            <li><a href="/staff">Staff</a></li>
            <li><a href="/galley">Galley</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</div>
<style>
    .logo {
        font-family:  'STIX Two Text', serif;
        font-size: 35px;
        animation: bounce 0.6s infinite alternate;
        transform: translate3d(0) ;
        text-shadow: 3px 3px lightblue;
    }

    @keyframes bounce {
        to {
            transform: translate3d(0, -10px, 0);
        }
    }
</style>