<div class="all-about">
    <h2 class="about">About Kayonza Modern Secondary School.</h2>
    <br>
    <p>
        KAYONZA MODERN SECONDARY SCHOOL is a government aided 
        school. It is a school of excellence and reference in sciences 
        in Kayonza District and indeed in the whole Eastern Province.
    </p>
    <br>
    <a href="/history" class="link">See Historical Background of the school</a>
    <br>
    <br>
    <h3 class="about">SCHOOL’S MISSION:</h3>
    <br>
    <p>
        The main mission of ‘KAYONZA MODERN SECONDARY SCHOOL’ is 
        to provide the nation with young men and ladies scientifically 
        trained and having sound human and spiritual values. The school
        offers the Advanced Level’s certificates in scientific combinations. 
        The holder of such a certificate should be able to attend any 
        university or institution of higher learning without any hindrance.
    </p>
    <br>
    <h3 class="about">SCHOOL VISION:</h3>
    <br>
    <p>
        To excel in the teaching and 
        learning of different subjects, where discipline holds the key to all success.
    </p>
    <br>
    <h3 class="about">SCHOOL VALUES:</h3>
    <br>
    <p>
        Integrity, Responsibility, Commitment, Determination, 
        Charity, Innovation, Respect, Punctuality, Hard work and Excellence.
    </p>
    <br>
    <hr>
    <br>
    <h2 class="about">School Motto: <b>Strive for knowledge</b> (Haranira kujijuka) </h2>
    <p>
        knowledge is power. So we believe that knowledge given in Kayonza Modern Secondary School 
        should be the basis for our students’ ability to brighten their future.
    </p>
    <br>
    
</div>
