<h1 class="galley-title">Galley of KMSS</h1>
<div class="grid-container">
 
     <div  class="image-card">
        <img src="/images/Kms-2.jpg" alt="Students" width="300" height="168">
        <h3 class="image-title">The School Gate</h3>
        <a target="_blank" href="/images/Kms-2.jpg">View Image</a>   
    </div>
    <div  class="image-card">
        <img src="/images/images (1).jpeg" alt="Students" width="300" height="168">
        <h3 class="image-title">School Headmaster</h3>
        <h4 class="image-title"> BUSHAYIJA Laurent </h4>
        <a target="_blank" href="/images/images (1).jpeg">View Image</a>
    </div>
    <div class="image-card">
        <img src="/images/students2.jpeg" alt="Students" width="300" height="168">
        <h3 class="image-title">Students in class</h3>
        <a target="_blank" href="/images/students2.jpeg">View Image</a>
    </div>
    <div class="image-card">
        <img src="/images/students.jpg" alt="Students" width="300" height="168">
        <h3 class="image-title">Students in Meeting</h3>
        <a target="_blank" href="/images/students.jpg">View Image</a>
    </div>
     <div  class="image-card">
        <img src="/images/students1.jpg" alt="Students" width="300" height="168">
        <h3 class="image-title"> Collaboration of Sudents </h3>
        <a target="_blank" href="/images/students1.jpg">View Image</a>
     </div>    
     <div  class="image-card">
        <img src="/images/images (3).jpeg" alt="Students" width="300" height="168">
        <h3 class="image-title">Sudents Watching Movies</h3>
        <a target="_blank" href="/images/images (3).jpeg">View Image</a>
    </div>
     <div  class="image-card">
        <img src="/images/images.jpeg" alt="Students" width="300" height="168">
        <h3 class="image-title">Talking With Teachers</h3>
        <a target="_blank" href="/images/images.jpeg">View Image</a>
    </div>
    
     <div  class="image-card">
        <img src="/images/images (2).jpeg" alt="Students" width="300" height="168">
        <h3 class="image-title">Meeting With Executives</h3>
        <a target="_blank" href="/images/images (2).jpeg">View Image</a>
    </div>
    <div  class="image-card">
        <img src="/images/download.jpeg" alt="Students" width="300" height="168">
        <h3 class="image-title">School Board</h3>
        <a target="_blank" href="/images/download.jpeg">View Image</a>
    </div>
</div>
<style> 
    .galley-title {
       text-align: center;
       font-family: "Quicksand";
       border-top: 1px solid lightgray;
    }
    .grid-container {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 320px);
        margin-left: 50px;
        gap: 30px;
    }

    .image-card {
     border: 1px solid lightgray;
     border-radius: 6px;
     padding: 10px;

    }

     

    .image-card > a {
        color: #41c0d191;
    }

    .image-title {
        font-family: "Quicksand";
    }

    @media only screen and (max-width:1090px) {
        .grid-container {
            grid-template-columns: repeat(2, 330px);
        }
    }

    @media only screen and (max-width:755px) {
        .grid-container {
            grid-template-columns: repeat(1, 330px);
        }
    }
</style>