<div class="all-about">
    <h2 class="about">Historical Background</h2>
    <hr>
    <br>
    <p>
        The school started on 30 <sup>th</sup> January 1996 just after the 1994
        genocide against Tutsi, as a private parents' school in an effort to
        assist the studends who had failed to be absorbed in the few schools 
        that had re-opened. In July 1997 it was taken over by the Ministry of 
        Primary and Secondary education (<b>MINEPRISEC</b>). 
    </p>
    <br>
    <br>
    <h3 class="about">SCHOOL LEADERSHIP SINCE ITS FOUNDATION</h3>
    <br>
    <div class="row">
        <div class="card">
       </div>
        <div class="card">
            <br>
        </div>
    </div>
</div>