<hr>
<h2 class="about">School Classes</h2>
<br>
<div class="row">
  <div class="card">
    <h3>Ordinary Level</h3>
    <ul>
        <li><a class="link" href="https://elearning.reb.rw/course/index.php?categoryid=210" target="__blank">Senior One-(S1)</a></li>
        <li><a class="link" href="https://elearning.reb.rw/course/index.php?categoryid=211" target="__blank">Senior Two-(S2)</a></li>
        <li><a class="link" href="https://elearning.reb.rw/course/index.php?categoryid=212" target="__blank">Senior Three-(S3)</a></li>
    </ul>
  </div>

  <div class="card">
    <h3 class="about"><a class="comb link"  href="https://elearning.reb.rw/course/index.php?categoryid=213"> S4 (Senior Four) </a></h3>
    <ul class=" combinations">
      <strong>  
      <li>MPC</li>
      <li>PCB</li>
      <li>PCM</li>
      <li>HEG</li>
      <li>MEG</li>
      </strong>
    </ul>
    
  </div>
  <div class="card">
    <h3 class="about"><a class="comb link" href="https://elearning.reb.rw/course/index.php?categoryid=214" target="__blank"> S5 (Senior Five) </a></h3>
    <ul class=" combinations">
      <strong>
      <li>MPC</li>
      <li>PCB</li>
      <li>PCM</li>
      <li>HEG</li>
      <li>MEG</li>
      </strong>
    </ul>
  </div>

  <div class="card">
    <h3 class="about"><a class="comb link"  href="https://elearning.reb.rw/course/index.php?categoryid=215" target="__blank">S6 (Senior Six)  </a></h3>
    <ul class=" combinations">
      <strong>
      <li>MPC</li>
      <li>PCB</li>
      <li>PCM</li>
      <li>HEG</li>
      <li>MEG</li>
      </strong>
    </ul>
  </div>
</div>