<hr>
<h1 class="about">Laboratories and Library</h1>
<br>
<h3 class="about">LIBRARY</h3>
<p> 
    The school in conjunction with parents (School general assembly) 
    started building a sizeable library in 2010 which was completed in 2014. 
    It is a library which can accommodate a good number of students at once. 
    It was built at the right time and so far it has tremendously improved the 
    academic performance of our students. 
    To optimize its use is the goal of the school.
</p>

<br>
<h3 class="about">Computer Labs</h3>

<p>
    The school has two computer labs where each
    contains 50 laptops that help students in their 
    studies and it also helps them while making a research.
    Generally it helps these students who learn Computer Science. 
    Now our students and teachers have full access to different digital 
    documentations via different online platforms.
</p>

<br>
<h3 class="about">SCIENCES LABORATORIES</h3>
<p>
    The school has three sciences laboratories. 
    These are for Biology, Chemistry and Physics. 
    These laboratories are there to help students in 
    studies while making research and learning.
</p>